<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Immoplus Pro</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>immoplus_pro</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>yourdomain.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Immoplus Pro a besoin d’accéder à votre appareil photo pour vous permettre de prendre des photos de vos biens immobiliers et de scanner des documents professionnels.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Immoplus Pro utilise votre position pour localiser vos biens sur la carte et faciliter la saisie d’adresse, même lorsque l’application est en arrière-plan.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Immoplus Pro nécessite un accès permanent à votre position pour assurer le suivi de vos activités immobilières et la localisation précise des biens.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Immoplus Pro utilise votre position pour localiser vos biens immobiliers sur la carte et faciliter la saisie de l’adresse lors de la création d’annonces.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Immoplus Pro utilise le microphone pour vous permettre d’enregistrer des descriptions vocales ou des notes audio pour vos biens.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Immoplus Pro a besoin d’enregistrer des photos dans votre galerie pour sauvegarder les images de vos annonces ou documents.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Immoplus Pro a besoin d’accéder à votre galerie pour vous permettre de sélectionner et télécharger les photos de vos biens immobiliers.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>Immoplus Pro souhaite vous envoyer des notifications pour vous informer des nouvelles demandes, des mises à jour de vos annonces et des messages importants.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Immoplus Pro utilise Face ID pour sécuriser l’accès à votre compte et protéger vos données professionnelles.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
